{% extends "::base.html.twig" %}
{% block title %} Nouveau contact{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-offset-3">
                <h3>Contact</h3><hr/>
                <form class="form-group" method="post">
                    {{ form_widget(form) }}
                   <br/> <input type="submit" formnovalidate="true" class="btn btn-primary" />
                </form>
            </div>

        </div>
    </div>
{% endblock %}