{% extends "::base.html.twig" %}
{% block title %}{{'register'|trans}}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel-body">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
