{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="centre"></h4>   
        </div>
        <div class="panel-body">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
                
