{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="centre"></h4>   
        </div>
        <div class="panel-body">
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </p>
        </div>
    </div>
{% endblock %}
