{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="centre"></h4>   
                </div>
                <div class="panel-body">
                    <p class="affiche">{{ 'resetting.password_already_requested'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
